body{
  margin: 0;
  padding: 0;
}
.info-media-container{
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  background: #111f29;
  color: white;
}
.info-container i{
  padding: 15px;
  color: #f7bf29;
}
span{
  color: white;
}
.media-container{
  boder: 2px solid black;
}
.media-container i {
padding: 13px;
}
#top{
  color: #f7bf29;
}
.logo-navbar-container{
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 30% 70%;
}

.navbar-content nav ul{
  list-style: none;
}

.navbar-content  nav ul li{
  display: inline;

}
.navbar-content  nav ul li a{
  text-decoration: none;
  color: black;
  padding: 12px;
}
.logo-content{
  margin: 5px 43px;
}
.navbar-content{
  margin: 5px 43px;
}
.navbar-content i{
  margin: 5px 17px;
  background: #f7bf29;
  padding: 15px;
  width: 6%px;
  height: 38;

}
.main-page{
  text-align: center;
  background:  url(../images/worker.jpeg);
  background-size: cover;
  padding: 150px;
  color: white;

}
.main-page h3{
  color: #f7bf29;
}
.main-page button{
  padding: 15px 30px;
background: #f6b60d;
border: none;
font-size: 20px;
}
.main-content-page{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  background: #f5f5f5;
}
.main-content-page i{
color: #f7bf29;
font-size: 45px;
}
.main-content-page h5, p ,i {
margin: 35px 0 0 0;
}
.main-content-page h5{
  font-weight: bold;
  font-size: 25px;
}
.about-us{
  text-align: center;
  margin: 50px 0 0 0;
}
hr{
  width: 4%;
  border: 2px solid #f6b60d;
}
.about-us-content{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 69px 15px 0 15px;
}
.about-content h4{
font-size: 35px;
}
.about-content h6{
  background: black;
  width:10%;
  height: 2px;
}
.about-content button{
  padding: 15px 30px;
  margin: 20px 0 0 0;
background:#f7bf29;
border: none;
font-size: 20px;


}
.offer-content{
  text-align: center;
  background-color: #f6b60d;
  margin: -50px;

}
hr{
  width: 4%;
  border: 2px solid #f6b60d;
}
